---
layout: default
description: > # this means to ignore newlines until "baseurl:"
  Not Not mobile game is the ultimate brain challenge based on logic and orientation. Follow the written instructions to swipe your character towards the correct direction (top, bottom, left or right). Over the levels, more and more complex and various instructions will require both your logic and dexterity to progress.
disclaimer: "Alt Shift is not responsible for any of the following consequences triggered by a not not game session:"
disclaimer-list: ["Mobile damages due to a drop or any other violent contact with any hard material (wall, floor, ceiling, table, heel, friend’s face, etc.)", "Mobile loss due to an intentional or unintentional throw into uncertain places (opened window from a high building, ocean, garbage dump, hell, friend’s face, etc.)", "Brain tumors", "Social isolation", "Nervous breakdown", "Shame"]
---


<section>
<div  class="home">
  <div class="videoContainer">
    <a href="#" class="store-link hidden-xs">
      <img src="{{site.baseurl}}/assets/appstore_135x40.svg"/>
    </a>
    <div id="iphone">
      <video id="video" width="240" height="410" autoplay loop>
        <source src="{{site.baseurl}}/assets/bandicam 2016-09-08 12-02-51-497.mp4">
      </video>
      <script>
        var video = document.getElementById('video');
        video.oncanplay=function(){
          video.play();
        }
        video.addEventListener('click',function(){
          video.play();
        },false);
      </script>
      <div class="cover">
      </div>
    </div>
    <a href="#" class="store-link hidden-xs">
      <img src="{{site.baseurl}}/assets/google-play-badge.png"/>
    </a>
  </div>
  <div class="stores hidden-lg">
    <a href="#" class="store-link ">
      <img src="{{site.baseurl}}/assets/appstore_135x40.svg"/>
    </a>
    <a href="#" class="store-link">
      <img src="{{site.baseurl}}/assets/google-play-badge.png"/>
    </a>
  </div>
</div>
</section>
<section>
<div  class="description">
  <h1>{{site.title}} - {{site.baseline}}</h1>
  <p>{{page.description}}</p>
</div>
    <div class="alert">
        <img class="alert-icon" title="warning" src="{{site.baseurl}}/assets/warning.svg#warning">
        <div class="text">
            <p>
                {{page.disclaimer}}
            </p>
            <ul>
                {% for item in page.disclaimer-list %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section>
<div  class="description">
  <ul class="contact-list">
    {% for i in (3..4) %}
      {% assign filename = "/assets/image" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.png"></li>
    {% endfor %}
  </ul>
  <ul class="contact-list">
    {% for i in (1..2) %}
      {% assign filename = "/assets/image" | append: i | prepend: site.baseurl %}
      <li><img src="{{filename}}.png"></li>
    {% endfor %}
  </ul>
</div>
</section>
<section>
<div  class="description">
  <h2> Developers </h2>
  <p>
    <a>Mathias Baglioni</a> <br> <a>Julien Cotret</a> <br> <a>Vincent Noël</a>
  </p>
  <h2> Design </h2>
  <p><a>Mathias Baglioni</a></p>
</div>
</section>
<section>
<div  class="description">
  <div class="recall">
    <img src="{{site.baseurl}}/assets/logo.png"/>

    <div class="site-title site-baseline">
        {{site.baseline}}
    </div>
    <a href="#" class="store-link ">
      <img src="{{site.baseurl}}/assets/appstore_135x40.svg"/>
    </a>
    <a href="#" class="store-link ">
      <img src="{{site.baseurl}}/assets/google-play-badge.png"/>
    </a>
  </div>
</div>
</section>