<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">Contact</a></li>
          <li>
            <a href="{{site.baseurl}}/assets/Not Not Game - Press Kit.zip" download>PressKit</a>
          </li>
        </ul>
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_text id=site.facebook_username %}
          </li>
          {% endif %}

        </ul>
        <a class="logo-altshift" href="http://www.altshift.fr">
            <img src="{{ '/assets/logo_altshift.png' | prepend: site.baseurl }}" alt="Altshift website"/>
            www.altshift.fr
        </a>
    </div>
  </div>
  <script>
    $.localScroll({
        duration: 500
    });
  </script>
  </footer>
