<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0f3a49" />
    <title>{{ site.title | escape }} - {{ site.baseline | escape }} - {{ site.share_title_end | escape }}</title>
    <meta name="author" lang="en" content="Altshift">
    <meta name="copyright" content="Altshift">
    <meta name="publisher" content="Altshift">
    <meta name="description" content="{{ site.share_description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="keywords" content="mobile game, puzzle game, brain-buster, brain-busting, brain challenge, brain breaker, logic game, maths game, jeu mobile, iOS, Android, Nintendo Switch, défi mental, défi cérébral, jeu cérébral, entrainement cérébral" />

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="http://{{site.share_url}}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="http://{{ '/feed.xml' | prepend: site.baseurl | prepend: site.share_url }}">
    <meta property="al:ios:url" content="notnot://" />
    <meta property="al:ios:app_store_id" content="1107589341" />
    <meta property="al:ios:app_name" content="NotNot - A Brain-buster" />
    <meta property="al:android:url" content="notnot://">
    <meta property="al:android:package" content="com.altshift.notnot">
    <meta property="al:android:app_name" content="NotNot - A Brain-buster">
    <meta property="og:url"                content="http://{{site.share_url}}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ site.title | escape }} - {{ site.baseline | escape }} - {{ site.share_title_end | escape }}" />
    <meta property="og:description"        content="{{ site.share_description }}" />
    <meta property="og:image"              content="http://www.notnot-game.com/assets/notnot_website_preview.png" />
    <meta property="fb:app_id"              content="854809634644957" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/favicons/ms-icon-144x144.png">

    <script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71516652-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-71516652-3');
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.css" />
    <script async defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.2/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#313131"
        },
        "button": {
          "background": "#fff"
        }
      },
      "content": {
        "href": "{{site.baseurl}}/privacy-policy.html"
      }
    })});
    </script>
</head>
