<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div id="notnot2-banner">
        <div class="container">
          <div class="new-banner">
            New!
          </div>
          <div class="badges-container">
            <a href="{{ site.notnot2.ios_url }}"><img src="{{site.baseurl}}/assets/appstore_270x80.png" height="40" /></a>
            <a href="{{ site.notnot2.android_url }}"><img src="{{site.baseurl}}/assets/google-play-badge-small.png" height="40" /></a>
          </div>
          <div class="title-container">
            Not Not 2 - A Brain Challenge<br />Out Now!
          </div>
        </div>
      </div>

      <div class="wrapper noMargin">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
